.navbar {
    display: flex;
    background-color: #407BFF;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    width: 40%;
    height: 60px;
    justify-content: space-around;
    margin: 0 auto;
}

.container a {
    text-decoration: none;
    color: #FFFFFF;
}

.active {
    opacity: 1;
    font-weight: 700;
}

.disabled {
    opacity: 0.6;
    font-weight: 400;
}

.container a:hover {
    opacity: 1;
    color: #FFFFFF;
}

.imagemlogo {
    position: absolute;
    left: 2%;
}
