.divPaiCatalogo {
  color: #e5e5e5;
}
.containerMainn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* centraliza verticalmente */
  color: black;
  background-color: #ffffff;
  width: 300px;
  max-width: 360px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 2%;
}
.barraPesquisa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 45px;
  margin-left: 35px;
  margin-right: 40px;
}
.iconPesquisa {
  position: absolute;
  margin-right: 630px;
  margin-top: 2px;
  color: #9e9e9e;
  height: 25px;
  width: 25px;
}

.inputsPesquisa {
  height: 30px;
  width: 25%;
  border-style: none none solid none;
  color: #9e9e9e;
  border-bottom-color: #e1e1e1;
  font-size: 18px;
}
.inputsPesquisa::placeholder {
  color: #9e9e9e;
}

.divBoxx {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
  margin: 2%;
}

.imagemProd {
  display: flex;
  height: 50%;
  width: 50%;
  margin: auto;
}
.valores {
  display: flex;
  align-items: center;
  width: 100%;
}

.price {
  color: #407bff;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 5%;
}

.cifrao {
  color: #9e9e9e;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  margin-left: 5%;
  align-items: flex-start;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #263238;
  text-align: left;
  margin-left: 5%;
}
.catalogoDeProd {
  color: #263238;
  font-weight: 700;
  mix-blend-mode: normal;
  font-size: 24px;
  margin-left: 35px;
}
.botaoLimpar {
  color: #9e9e9e;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  width: 20%;
  height: 75%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e1e1e1;
  color: #ffffff;
  margin: 0 5px;
  font-weight: bold;
  font-size: 16px;
}

.pagination a:hover {
  border: 3px solid #407bff;
  color: #fff;
}
/* quando o cursor passar por cima, aciona a borda azul, cuidado com confluitos */

.ativado a {
  color: #ffffff;
  background-color: #407bff;
}/* ao selecionar, fazer a cor da letra ficar branca e o background azul.*/

.custom-previous a {
  background-color: white;
  color: #407bff;
}
.custom-next a {
  background-color: white;
  color: #407bff;
}
